# Личные напоминалки
[0]
attrib_start = "<font color=red><b><i>"
attrib_end   = "</i></b></font><br>"
# Государственные и религиозные праздники (выходные)
[1]
attrib_start = "<font color=red><b>"
attrib_end   = "</b></font><br>"
# Прочие общие праздники (не выходные)
[2]
attrib_start = "<font color=black>"
attrib_end   = "</font><br>"
# Дни рождения
[3]
attrib_start = "<img src=img\sharik.jpg width=20 hight=20></img><font color=blue><b>"
attrib_end   = "</b></font><br>"
# Памятные даты
[4]
attrib_start = "<font color=black>"
attrib_end   = "</font><br>"
# Личные памятные даты
[5]
attrib_start = "<font color=black>"
attrib_end   = "</font><br>"
# Строительство дома
[6]
attrib_start = "<font color=green>"
attrib_end   = "</font><br>"
# Именины
[7]
attrib_start = "Iменини <font color=red>"
attrib_end   = "</font><br>"
# Профессиональные праздники по дням недели
[8]
attrib_start = "<font color=black>"
attrib_end   = "</font><br>"
