# Личные напоминалки
[0]
before = 0   # за сколько дней до даты предупреждать
after = 0    # сколько дней после даты напоминать
date_form = "YMD"  # год, месяц, день
attrib_start = "<font color=red><b><i>"
attrib_end   = "</i></b></font><br>"
# праздники, связанные с Пасхой
[easter]
date_form = "N"  # число дней от даты Пасхи
attrib_start = "<font color=brown>"
attrib_end   = "</b></font><br>"
# Государственные и религиозные праздники (выходные)
[1]
date_form = "YMD"  # год, месяц, день
attrib_start = "<font color=red><b>"
attrib_end   = "</b></font><br>"
# Прочие общие праздники (не выходные)
[2]
date_form = "YMD"  # год, месяц, день
attrib_start = "<font color=black>"
attrib_end   = "</font><br>"
# Дни рождения
[3]
before = 1
after = 1
date_form = "YMD"  # год, месяц, день
attrib_start = "<img src=img\sharik.jpg width=20 hight=20></img><font color=blue><b>"
attrib_end   = "</b></font><br>"
# Памятные даты
[4]
date_form = "YMD"  # год, месяц, день
attrib_start = "<font color=black>"
attrib_end   = "</font><br>"
# Личные памятные даты
[5]
date_form = "YMD"  # год, месяц, день
attrib_start = "<font color=blue>"
attrib_end   = "</font><br>"
# Строительство дома
[6]
date_form = "YMD"  # год, месяц, день
attrib_start = "<font color=green>"
attrib_end   = "</font><br>"
# Именины
[7]
date_form = "YMD"  # год, месяц, день
attrib_start = "Iменини <font color=red>"
attrib_end   = "</font><br>"
# Профессиональные праздники по дням недели
[8]
date_form = "WMN"  # номер дня недели, месяц, номер недели
attrib_start = "<font color=black>"
attrib_end   = "</font><br>"
# Запланированные дела и блюда
[9]
before = 2
after = 0
date_form = "WMN"  # номер дня недели, месяц, номер недели
attrib_start = "<font color=blue><b>"
attrib_end   = "</b></font><br>"
